.header {

  height: $header-height;

  z-index: 9000;

  background: lighten($color: $color-black, $amount: 10);
  box-shadow: lighten($color: $color-black, $amount: 20) 0px 1px;

  &__hamburger {
    display: none;
  }
}