.nav {
  height: $header-height;

  &__list {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
  }

  &__item {
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 600;

    & > a {
      outline: none;
      padding: 0 ($spacer*3) 1px;
      text-decoration: none;
      color: darken($color-white, 30);

      transition: all 286ms ease-in-out 0s;

      &:hover {
        color: $color-white;
      }

      &.active {
        color: $color-white;
      }
    }
  }
}