$color-purple: #7E57C5;
$color-blue: #009ad4;
$color-green: #5AB946;
$color-orange: #FF6C2B;
$color-red: #ED0034;
$background-light: #121D29;
$background-dark: #06111E;
$color-black: #000;
$color-white: #fff;

$font-family-sourcesanspro: 'Source Sans Pro', sans-serif;

$header-height: 60px;
$spacer: 8px;

// Bootstrap variables
$grid-columns: 12;
$grid-gutter-width: 48px;